/* For Handheld Devices */
body {
 background-color: rgb(255, 195, 172);
 color: black
}

table{

    margin-left: auto;
    margin-right: auto;

}

div.nav_bar{
    background-color: rgb(255, 195, 172);
}
div.head{
    background-color: lightgoldenrodyellow;
}
h1.begin{
 text-align: center;
}
h2.begin{
    text-align: center;
    line-height: 1;
   }


p.topic{
    line-height: 1;
   }


div.right{
    text-align: right;
    line-height: 1;
    }

button{
    height: 70px;
    }

/* For Laptops */

@media only screen and (min-width: 1512px) {

body {
 background-color: rgb(255, 195, 172);
 color: black
}

table{

    margin-left: auto;
    margin-right: auto;

}

div.nav_bar{
    background-color: rgb(255, 195, 172);
}
div.head{
    background-color: lightgoldenrodyellow;
}
h1.begin{
 text-align: center;
}
h2.begin{
    text-align: center;
    line-height: 0.3;
   }


p.topic{
    line-height: 0.3;
   }


div.right{
    text-align: right;
    line-height: 0.3;
    }

button{
    height: 50px;
}


}
