<!DOCTYPE html>
<html>
<head>
  <title> Raunaq Nayar - Curriculum Vitae</title>
  <link rel="stylesheet" type="text/css" href="static/style.css">
  <link rel="shortcut icon" href="{{ url_for('static', filename='briefcase.ico') }}">

</head>
<body>
<div class='head'>
  <div class='nav_bar'>
  <br>
  <table>
  <tr>
    <td><a href="#education"><button>&emsp;Education&emsp;</button></a>&emsp;</td>
    
    <td><a href="#publications"><button>&emsp;Publications&emsp;</button></a>&emsp;</td>

    <td><a href="#research_exp"><button>&emsp;Research Experience&emsp;</button></a>&emsp;</td>

    <td><a href="#research_proj"><button>&emsp;Academic Research Projects&emsp;</button></a>&emsp;</td>
    
    <td><a href="#industrial_exp"><button>&emsp;Industrial Experience&emsp;</button></a>&emsp;</td>

    <td><a href="#achievements"><button>&emsp;Achievements&emsp;</button></a>&emsp;</td>

    <td><a href="#skills"><button>&emsp;Skills&emsp;</button></a>&emsp;</td>

    <td><a href="#hobbies"><button>&emsp;Hobbies&emsp;</button></a>&emsp;</td>


  </tr>

</table>
<br>
</div>

<h1 class='begin'><u>CURRICULUM VITAE</u></h1>
<h2 class='begin'><u>Nayar</u> Raunaq</h2>
<h2 class='begin'>#02-113, Block 717, Jurong West Street 71, Singapore - 640717</h2>
<h2 class='begin'>Mobile Phone: (+65) 93727930 </h2> 
<h2 class='begin'>E-mail: raunaq002@e.ntu.edu.sg / nayar.raunaq@ntu.edu.sg </h2>
<hr>
</div>
<h3 id='education'><u>EDUCATION -</u></h3>


<p class='topic'><b>Nanyang Technological University (NTU), Singapore<br><div class='right'>Jul 2017 – Jun 2018</div></b>
Master of Science (Computer Control and Automation)<br>
<b>GPA- 4.56 / 5.0</b></p>
<br>
<p class='topic'><b>Delhi Technological University (DTU), India<br><div class='right'>Aug 2012 - Jul 2016</div></b>
Bachelor of Technology (Electronics and Communication Engineering)<br>
<b>First Class with Distinction: CPI- 79.38%</b></p>

<hr>
<h3 id='publications'><u>PUBLICATIONS -</u></h3>
<p>
<ol>
<li><a href="https://www.mdpi.com/2079-9292/10/5/630">Balasubramanian, P.; Nayar, R.; Maskell, D.L. “Approximate Array Multipliers.” Electronics 2021, 10, 630. </a> </li>
<li><a href="https://ieeexplore.ieee.org/document/9309208">P. Balasubramanian, R. Nayar, D. L. Maskell and N. E. Mastorakis, "An Approximate Adder with a Near-Normal Error Distribution: Design, Error Analysis and Practical Application," in IEEE Access, doi: 10.1109/ACCESS.2020.3047651  </a> </li>
<li><a href="https://ieeexplore.ieee.org/document/9154935">Nayar R., Balasubramanian P., Maskell D., “Hardware Optimized Approximate Adder with Normal Error Distribution”, IEEE Computer Society Annual Symposium on VLSI- 2020, Jul 2020  </a> </li>
<li><a href="https://www.sciencedirect.com/science/article/abs/pii/S0925231215005226">Singh K., Kapoor R., Nayar R., "Fingerprint denoising using ridge orientation based clustered dictionaries", Neurocomputing, vol. 167, pp. 418-423, 2015  </a> </li>
<li><a href="https://imanagerpublications.com/article/4847/16">Teja R., Nayar R., Aggarwal S., and Indu S., “Enhanced Leach Clustering Based on Event Location”, I-manager's Journal on Wireless Communication Networks, 4(3), 19-25, 2015  </a> </li>
<li><a href="https://www.ijcaonline.org/archives/volume179/number11/yakkali-2018-ijca-916117.pdf ">Yakkali R.T, Nayar R., Sreedevi I., “Object Tracking and Suspicious Activity Identification during Occlusion”, International Journal of Computer Applications. 179. 29-34, 2018  </a> </li>
<li><a href="https://www.igi-global.com/article/a-self-configurable-event-coverage-approach-for-wireless-sensor-networks/227358">Kaushik A., Yakkali R. T., Indu S., Ahmed F., Gupta D., Nayar R., Yadav S., “A Self-Configurable Event Coverage Approach for Wireless Sensor Networks”, International Journal of Mobile Computing and Multimedia Communications (IJMCMC), 10(2), 1-18, 2019   </a> </li>
</ol>
</p>
<hr>

<h3 id='research_exp'><u>RESEARCH EXPERIENCE -</u></h3>
<p class='topic'><b>School of Computer Science and Engineering (SCSE), NTU<div class='right'>Singapore</div> Staff Research Associate, Hardware and Embedded Systems Lab <div class='right'> Jan 2020 – Present </div> </b></p>
<p>
<ul>
  <li>Contributing to the project titled 'Approximate Arithmetic Circuit Synthesis for Error Tolerant Computing' which is funded by the Ministry of Education, Singapore under the supervision of Assoc Prof Douglas Maskell.</li>	
  <li>Developing a tool to generate the approximate adder/multiplier Verilog code based on user specifications in Python. </li>
  <li>Investigating novel and innovative techniques to implement error-tolerant adder/multiplier circuits which are faster, power saving and consist of lesser circuit design elements than an accurate adder/multiplier circuit. </li>
  <li>Examining the impact of various error-tolerant adders on image processing using PSNR and SSIM performance measures.</li>
  <li>Quantifying error-characteristics (MAE, RMSE) corresponding to various error-tolerant adder circuits.</li>
  <li>Authored and presented a conference paper titled ‘Hardware Optimized Approximate Adder with Normal Error Distribution’ in ISVLSI-2020 Conference.</li>
  <li>Contributed to 2 journal papers and presented 1 conference paper during the project.</li>
</ul>
</p>
<br>
<p class='topic'><b>Bharat Electronics Limited <div class='right'>India</div> Summer and Winter Internship <div class='right'> Jun 2014-Jul 2014, Dec 2014 </div> </b></p>
<p>
<ul>
  <li>Denoised fingerprint images by dividing them into patches; classifying patch orientation into 7 categories (5 dominant orientations, stochastic and smooth), using 7 sub-dictionaries to calculate sparse coefficients to minimize error.</li>	
  <li>Compared the results using PSNR, SSIM of the recovered denoised images for 4 different noise levels (10,20,30,40) with KSVD, NLM and KLLD algorithms. </li>
  <li>Published a research paper in the field of Digital Image Processing titled, ‘Fingerprint denoising using ridge orientation based Clustered dictionaries’ in Neurocomputing journal (ScienceDirect, Elsevier). </li>
</ul>
</p>

<hr>

<h3 id='research_proj'><u>ACADEMIC RESEARCH PROJECTS -</u></h3>
<p>Nanyang Technological University (NTU), Singapore<br><u>Dissertation Project Title</u></p>
<p class='topic'><b>V2X Simulation for avoiding vehicle collision <div class='right'> Aug 2017-Apr 2018 </div> </b></p>
<p>
<ul>
  <li>Planned a detailed analysis on the use of decentralized approach for avoiding collision between autonomous vehicles at road intersections under the supervision of Assoc. Prof. Justin Dauwels. Considered vehicle related inputs from VISSIM, utilized MATLAB to perform collision avoidance and fed the generated results back to VISSIM for final simulation.</li>	
  <li>Reported my findings and relevant results to the members of Smart Mobility Team, an initiative by NTU-NXP collaboration during the Masters project meetings. Implemented the algorithm for the same in MATLAB.</li>
  <li>Proposed improvement on the project by speeding up vehicles moving in straight direction and slowing down vehicles taking a turn at road intersection and giving high priority to emergency vehicles to improve response time. </li>
  
</ul>
</p>

<p>Delhi Technological University (DTU), India<br><u>Final Year Project Title</u></p>
<p class='topic'><b>Wireless Sensor Network clustering using Biogeography Based Optimization <div class='right'> Jan 2016 - Mar 2016 </div> </b></p>
<p>
<ul>
  <li>Demonstrated in a team of 3 members, the implementation of Biogeography Based Optimization (BBO) technique to perform clustering in Wireless Sensor Networks (WSN) using MATLAB.</li>	
  <li>Evaluated maximization of the fitness function for clustering through migration and mutation to reduce energy dissipation.</li>
  <li>Compared the results with other algorithms for test cases involving 300, 400 and 500 nodes. Comparison results showed improvement in lifetime of the network by around 35%.</li>
  
</ul>
</p>

<p><u>Third Year Project Title</u></p>
<p class='topic'><b>Object Tracking and Suspicious Activity Identification during Occlusion <div class='right'> Jan 2015- May 2015 </div> </b></p>
<p>
<ul>
  <li>Performed tracking of objects which undergo occlusion using the area and the mean grayscale-level of the tracked objects in MATLAB. This method continues to track moving objects even after occlusion has occurred using still camera.</li>	
  <li>Identified objects which enter the scenario during the video and stay still for a long period of time as activities which could be suspicious. A research paper on this work has been recently published in International Journal of Computer Applications.</li>  
</ul>
</p>

<p class='topic'><b>Enhanced LEACH clustering based on Event Location <div class='right'> Jun 2014-Nov 2014 </div> </b></p>
<p>
<ul>
  <li>Strategized different ways of clustering in the field of Wireless Sensor Network in a 3-member team. The project involved considering important locations in the Wireless Sensor Network as events, formation of clusters based on event location and choosing node in the cluster with maximum residual energy as cluster head.</li>	
  <li>Compared the results of the proposed Enhanced LEACH clustering based on Event Location with the results of Low Energy Adaptive Clustering Hierarchy (LEACH) algorithm and increase is observed in the lifetime of the network. A research paper on this work has been published in I-manager Journal on Wireless Communication Network.</li>  
</ul>
</p>

<hr>

<h3 id='industrial_exp'><u>INDUSTRIAL EXPERIENCE -</u></h3>
<p class='topic'><b>Micron Semiconductor Asia Pvt. Ltd.<div class='right'>Singapore</div> Test Solution Engineer <div class='right'> Jul 2018- Jan 2020 </div> </b></p>
<p>
<ul>
  <li>Collaborated with Product Engineer (PE) and Product Quality Engineer (PQE) on possibilities of yield improvement at every step of the program release for semiconductor NAND Flash products as a Test Solution Engineer (C++).</li>	
  <li>Owned and managed Probe Code Development and Testing for 2 devices. Coordinated 16 program releases.</li>
  <li>Responded to customer requests by significantly enhancing probe yield coverage to include additional feature tests for 7 different NAND based semiconductor devices.</li>
  <li>Delivered cost-effective and cutting-edge optimization for test-time reduction using data-analysis methodologies.</li>
</ul>
</p>
<br>
<p class='topic'><b>Nokia <div class='right'>India</div> Graduate Engineer Trainee <div class='right'> Aug 2016 – Jun 2017 </div> </b></p>
<p>
<ul>
  <li>Kickstarted with CSF-CACC team involving 14 members.</li>	
  <li>Explored latest technological innovations of Big Data through coding in Python on a Linux Virtual Machine. </li>
  <li>Participated in CSF-BELK knowledge transfer. </li>
</ul>
</p>

<hr>
<h3 id='achievements'><u>ACHIEVEMENTS -</u></h3>
<p>
  <ul>
    <li>All India Rank of 109 (out of 152318 students) in Graduate Aptitude Test in Engineering (GATE-2016) (Score of 863/1000)</li>	
    <li>Received second prize in Silicon Valley VHDL Competition conducted at DTU. </li>
    <li>All India Rank of 6357 (out of around 1.2 million students) in All India Engineering Entrance Exam– 2012 (AIEEE-2012)  </li>
  </ul>
</p>

<hr>
<h3 id='skills'><u>SKILLS -</u></h3>
<p>
  <ul>
    <li>Programming Skills-<ol><li> MATLAB</li><li>Python</li> <li>Verilog / VHDL</li> <li>C / C++</li> </ol></li>
  </ul>
  <ul>
    <li>Language Skills-<ol><li> English</li><li>Hindi</li> </ol></li>
  </ul>
</p>
<hr>
<h3 id='hobbies'><u>HOBBIES -</u></h3>
<p>Table-Tennis, Swimming, Sketching, Travelling and Voluntary Social Service</p>
<hr>



<script src='static/script.js'></script>
</body>
</html>

