<!DOCTYPE html>
<html>
<head>
  <title> Raunaq Nayar - Curriculum Vitae</title>
  <link rel="stylesheet" type="text/css" href="static/style.css">
  <link rel="shortcut icon" href="{{ url_for('static', filename='briefcase.ico') }}">

</head>
<body>
<div class='head'>
  <div class='nav_bar'>
  <br>
  <table>
  <tr>
    <td><a href="#education"><button>&emsp;Education&emsp;</button></a>&emsp;</td>

    <td><a href="#work_exp"><button>&emsp;Work Experience&emsp;</button></a>&emsp;</td>
    
    <td><a href="#personal_proj"><button>&emsp;Personal Projects and Certificate Courses&emsp;</button></a>&emsp;</td>

    <td><a href="#publications"><button>&emsp;Publications&emsp;</button></a>&emsp;</td>

    <td><a href="#research_proj"><button>&emsp;Academic Research Projects&emsp;</button></a>&emsp;</td>
    
    <td><a href="#achievements"><button>&emsp;Achievements&emsp;</button></a>&emsp;</td>

    <td><a href="#skills"><button>&emsp;Skills&emsp;</button></a>&emsp;</td>

    <td><a href="#extra_curri"><button>&emsp;Extracurricular Activities&emsp;</button></a>&emsp;</td>


  </tr>

</table>
<br>
</div>

<h1 class='begin'><u>CURRICULUM VITAE</u></h1>
<h2 class='begin'><u>Nayar</u> Raunaq</h2>
<h2 class='begin'>#02-113, Block 717, Jurong West Street 71, Singapore - 640717</h2>
<h2 class='begin'>E-mail: raunaq002@e.ntu.edu.sg </h2>
<hr>
</div>
<h3 id='education' class='subsection'><u>EDUCATION -</u></h3>


<p class='topic'><b>Nanyang Technological University (NTU), Singapore<br><div class='right'>Jul 2017 – Jun 2018</div></b>
Master of Science (Computer Control and Automation)<br>
<b>GPA- 4.56 / 5.0</b></p>
<br>
<p class='topic'><b>Delhi Technological University (DTU), India<br><div class='right'>Aug 2012 - Jul 2016</div></b>
Bachelor of Technology (Electronics and Communication Engineering)<br>
<b>First Class with Distinction: CPI- 79.38%</b></p>

<hr>

<h3 id='work_exp' class='subsection'><u>WORK EXPERIENCE -</u></h3>
<p class='topic'><b>Nanyang Technological University <div class='right'>Singapore</div> Research Associate <div class='right'> Jan 2020 – Present </div> </b></p>
<p>
  <ul>
    <li>Project 1 - Analysis of congestion in Singapore, Transport Research Center, College of Engineering</li>
    <ul>
      <li>Analyzed road network congestion across Singapore in Pandas using vehicle speed in road links at 5-minute time intervals.</li>
      <li>Exploring ways to use Py-Spark (Spark SQL in Python) and perform congestion analysis for large dataset (long duration).</li>
      <li>Guiding 2 final year project students in Pandas data-analysis on accident and congestion data to observe the impact of an accident on traffic congestion in the region.</li>
    </ul>
    <li>Project 2 - Safety analysis of PMD and PAB riders, Transport Research Center, College of Engineering</li>
    <ul>
      <li>Performing survey of PMD and PAB riders using Qualtrics software and handling survey data collection and data cleaning.</li>
      <li>Planning to use survey data to analyze factors acting as safety risk using Pandas after accumulating sufficient survey data.</li>
    </ul>
    <li>Project 3 - Approximate Arithmetic Circuit Synthesis for Error Tolerant Computing, Hardware and Embedded Systems Lab, School of Computer Science and Engineering</li>
    <ul>
      <li>Guided a final year student on development of a multifunctional and interactive GUI tool to generate the approximate adder/multiplier Verilog code based on user specifications in Python and regularly monitored his progress.</li>	
      <li>Formulated the digital design of novel and innovative error-tolerant adder/multiplier circuits which are faster, power saving and consist of lesser circuit design elements than an accurate adder/multiplier circuit. </li>
      <li>Evaluated error-characteristics using matplotlib and applied various approximate adders/multipliers in image processing.</li>
      <li>Contributed to 4 journal papers and 4 conference paper (Presented in 2 conferences) in this project.</li>
    </ul>
  </ul>
</p>
<br>

<p class='topic'><b>Micron Semiconductor Asia Pvt. Ltd.<div class='right'>Singapore</div> Test Solution Engineer <div class='right'> Jul 2018- Jan 2020 </div> </b></p>
<p>
<ul>
  <li>Collaborated with Product Engineer (PE) and Product Quality Engineer (PQE) on possibilities of yield improvement at every step of the program release for semiconductor NAND Flash products as a Test Solution Engineer (C++).</li>	
  <li>Owned and managed Probe Code Development and Testing for 2 devices. Coordinated 16 program releases.</li>
  <li>Responded to customer requests by significantly enhancing probe yield coverage to include additional feature tests for 7 different NAND based semiconductor devices.</li>
  <li>Delivered cost-effective and cutting-edge optimization for test-time reduction using data-analysis methodologies.</li>
</ul>
</p>
<br>
<p class='topic'><b>Nokia <div class='right'>India</div> Graduate Engineer Trainee <div class='right'> Aug 2016 – Jun 2017 </div> </b></p>
<p>
<ul>
  <li>Explored latest Big Data innovations in Python on Linux Virtual Machine with CSF-CACC team involving 14 members. </li>
  <li>Participated in CSF-BELK knowledge transfer. </li>
</ul>
</p>

<p class='topic'><b>Bharat Electronics Limited <div class='right'>India</div> Summer and Winter Internship <div class='right'> Jun 2014-Jul 2014, Dec 2014 </div> </b></p>
<p>
<ul>
  <li>Conducted comprehensive experimentation on various advanced histogram equalization algorithms to enhance image contrast.</li>
  <li>Denoised fingerprint images using 7 sub-dictionaries to calculate sparse coefficients to minimize error.</li>	
  <li>Compared the results using PSNR, SSIM of the recovered denoised images for 4 different noise levels (10,20,30,40) with KSVD, NLM and KLLD algorithms.</li>
</ul>
</p>

<hr>


<h3 id='personal_proj' class='subsection'><u>PERSONAL PROJECTS AND CERTIFICATE COURSES -</u></h3>

<p>
  <ul>
    <li>Machine Learning project on Supervised Classification of Heart Disease Dataset using Python packages such as numpy, pandas, matplotlib and scikit-learn in Jupyter notebook to train and predict if a patient is suffering from heart-disease.</li>	
    <li>Machine Learning project on Supervised Regression problem in which features of Bulldozer dataset are imported from Kaggle and used to predict the price of Bulldozer.</li>
    <li>Machine Learning project on Supervised Classification of Dog Breed in Python using TensorFlow.</li>
    <li>Certificate course on ‘Complete Machine Learning & Data Science Bootcamp 2021’ </li>
    <li>Online certificate courses on ‘Introduction to Data Science in Python’, ‘Applied Plotting, Charting & Data Representation in Python’ and ‘Applied Machine Learning in Python’ offered by University of Michigan on Coursera.</li>
    <li>Certificate course on ‘Complete Python Developer in 2021: Zero to Mastery’ </li>
  </ul>
  </p>

<hr>

  <h3 id='publications' class='subsection'><u>PUBLICATIONS -</u></h3>
  <p>
  <ol>
  <li>Nayar R., Balasubramanian P., Maskell D.L. “Image Compression using Approximate Addition”, IEEE TENCON Conference, Dec 2021 (Accepted). </li>  
  <li><a href="https://ieeexplore.ieee.org/document/9154935">Nayar R., Balasubramanian P., Maskell D., “Hardware Optimized Approximate Adder with Normal Error Distribution”, IEEE Computer Society Annual Symposium on VLSI- 2020, Jul 2020  </a> </li>
  <li><a href="https://doi.org/10.3390/computers11010011">Balasubramanian, P.; Nayar, R., Min, O.; Maskell, D.L. “Approximator: A Software Tool for Automatic Generation of Approximate Arithmetic Circuits”, Computers 2022. </a> </li>
  <li><a href="https://ieeexplore.ieee.org/document/9687757">Balasubramanian, P.; Nayar, R.; Maskell, D.L. “An Approximate Adder with Reduced Error and Optimized Design Metrics” APCCAS Conference, Nov 2021. </a> </li>
  <li><a href="https://doi.org/10.3390/electronics10232917">Balasubramanian, P.; Nayar, R.; Maskell, D.L. “Gate-Level Static Approximate Adders: A Comparative Analysis” Electronics 2021 </a> </li>
  <li><a href="https://ieeexplore.ieee.org/document/9569144">P. Balasubramanian, R. Nayar, O. Min and D.L. Maskell, "Image Blending using Approximate Multiplication", in 2021 IEEE 32nd International Conference on Microelectronics (MIEL). </a> </li>
  <li><a href="https://www.mdpi.com/2079-9292/10/5/630">Balasubramanian, P.; Nayar, R.; Maskell, D.L. “Approximate Array Multipliers.” Electronics 2021, 10, 630. </a> </li>
  <li><a href="https://ieeexplore.ieee.org/document/9309208">P. Balasubramanian, R. Nayar, D. L. Maskell and N. E. Mastorakis, "An Approximate Adder with a Near-Normal Error Distribution: Design, Error Analysis and Practical Application," in IEEE Access, doi: 10.1109/ACCESS.2020.3047651  </a> </li>
  <li><a href="https://www.sciencedirect.com/science/article/abs/pii/S0925231215005226">Singh K., Kapoor R., Nayar R., "Fingerprint denoising using ridge orientation based clustered dictionaries", Neurocomputing, vol. 167, pp. 418-423, 2015  </a> </li>
  <li><a href="https://imanagerpublications.com/article/4847/16">Teja R., Nayar R., Aggarwal S., and Indu S., “Enhanced Leach Clustering Based on Event Location”, I-manager's Journal on Wireless Communication Networks, 4(3), 19-25, 2015  </a> </li>
  <li><a href="https://www.ijcaonline.org/archives/volume179/number11/yakkali-2018-ijca-916117.pdf ">Yakkali R.T, Nayar R., Sreedevi I., “Object Tracking and Suspicious Activity Identification during Occlusion”, International Journal of Computer Applications. 179. 29-34, 2018  </a> </li>
  <li><a href="https://www.igi-global.com/article/a-self-configurable-event-coverage-approach-for-wireless-sensor-networks/227358">Kaushik A., Yakkali R. T., Indu S., Ahmed F., Gupta D., Nayar R., Yadav S., “A Self-Configurable Event Coverage Approach for Wireless Sensor Networks”, International Journal of Mobile Computing and Multimedia Communications (IJMCMC), 10(2), 1-18, 2019   </a> </li>
  </ol>
  </p>

<hr>

<h3 id='research_proj' class='subsection'><u>ACADEMIC RESEARCH PROJECTS -</u></h3>
<p class='topic'><b>Nanyang Technological University - Masters Dissertation Project <div class='right'> Singapore </div>
V2X Simulation for avoiding vehicle collision <div class='right'> Aug 2017-Apr 2018 </div> </b></p>
<p>
<ul>
  <li>Implemented a detailed analysis on the use of decentralized approach for avoiding collision between autonomous vehicles at road intersections under the supervision of Assoc. Prof. Justin Dauwels.</li>	
  <li>Interlinked MATLAB Code with Vehicle simulator (VISSIM) using COM-interface.</li>
  <li>Regularly updated relevant results to SMART Mobility Team (an NTU-NXP initiative).</li>
  <li>Proposed innovative ideas to extend the future scope of the project by giving higher priority to emergency vehicles.</li>
</ul>
</p>

<p class='topic'><b>Delhi Technological University - Final Year Project <div class='right'> India </div> 
Wireless Sensor Network clustering using Biogeography Based Optimization <div class='right'> Jan 2016 - Mar 2016 </div> </b></p>
<p>
<ul>
  <li>Efficiently modelled Wireless Sensor Network (WSN) clusters using Biogeography Based Optimization (BBO) in MATLAB.</li>	
  <li>Evaluated maximization of the fitness function for clustering through migration and mutation to reduce energy dissipation.</li>
  <li>Compared the results with other algorithms for test cases involving 300, 400 and 500 nodes. Comparison results showed improvement in lifetime of the network by around 35%.</li>
  
</ul>
</p>

<p class='topic'><b>Delhi Technological University - Third Year Project <div class='right'> India </div>
Object Tracking and Suspicious Activity Identification during Occlusion <div class='right'> Jan 2015- May 2015 </div> </b></p>
<p>
<ul>
  <li>Performed tracking of objects which undergo occlusion using the area and the mean grayscale-level using still camera.</li>	
  <li>Identified suspicious activities such as theft based on variation in the location of still objects compared to reference frame.</li>  
</ul>
</p>

<p class='topic'><b>Delhi Technological University - Third Year Project <div class='right'> India </div>
Enhanced LEACH clustering based on Event Location <div class='right'> Jun 2014-Nov 2014 </div> </b></p>
<p>
<ul>
  <li>Strategized clustering of Wireless Sensor Network (WSN) in a 3-member team. Considered important locations in the WSN as events, used event location for clustering and chose node with maximum residual energy as cluster head.</li>	 
  <li>Enhanced conventional Low Energy Adaptive Clustering Hierarchy (LEACH) algorithm by factoring in event location to increase network lifetime.</li> 
</ul>
</p>

<hr>
<h3 id='achievements' class='subsection'><u>ACHIEVEMENTS -</u></h3>
<p>
  <ul>
    <li>Extraordinary performance in Graduate Aptitude Test in Engineering Examination (GATE-2016) with 99.92 percentile score.</li>	
    <li>Received second prize in Silicon Valley VHDL Competition conducted at DTU. </li>
    <li>Achieved an outstanding percentile score of 99.47 in All India Engineering Entrance Exam– 2012 (AIEEE-2012) </li>
  </ul>
</p>

<hr>
<h3 id='skills' class='subsection'><u>SKILLS -</u></h3>
<p>
  <ul>
    <li>Programming Skills-<ol><li> MATLAB</li><li>Python(numpy, pandas, matplotlib, scikit-learn)</li> <li>Verilog / VHDL</li> <li>C / C++</li> </ol></li>
  </ul>
  <ul>
    <li>Language Skills-<ol><li> English</li><li>Hindi</li> </ol></li>
  </ul>
</p>
<hr>
<h3 id='extra_curri' class='subsection'><u>EXTRACURRICULAR ACTIVITIES -</u></h3>
<p>
  <ul>
    <li>Active involvement in community service with Singapore Red Cross Society performing various administrative duties.</li>
    <li>Participation in regular blood donations and cleanliness drives as a small contribution to society. Received a medallion for 5th Blood Donation in Singapore.</li>
    <li>Developed keen interest in analysis of performance of various stocks and mutual funds.</li>
    <li>Successfully completed online course titled ‘How to Draw from Beginner to Master’ with hands-on practice in sketching.</li>
  </ul>
</p>
<hr>



<script src='static/script.js'></script>
</body>
</html>

